simplejpeg==1.7.4
numpy<=2.1.0
--find-links https://download.pytorch.org/whl/cu118
torch
torchvision
torchaudio
git+https://github.com/THU-MIG/yolov10.git
python-dotenv==1.0.1
ipykernel==6.29.5
huggingface-hub==0.24.6
onnxruntime-gpu==1.19.0
cuda-python==12.6.0
rich==13.8.0
pydantic==2.8.2
tensorflow==2.17.0
kafka-python==2.0.2
python-json-logger
pydantic_settings
imagezmq
motmetrics